:root {
  --green: #16A34A;
  --dark-color: #159544;
  --black:#444;
  --light-color:#666;
  --border:.1rem solid rgba(0,0,0,.1);
  --border-hover:.1rem solid var(--black);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.book-section {
  background-color: #eeeefb;
  display: flex;
  padding: 20px 10%;
  color: var(--black);
  font-size: 16px;
}
.book-section .book-card {
  width: 100%;
  display: flex;
  gap: 40px;
  background-color: #fff;
  padding: 30px;
  border-radius: 3px;
}
.book-section .book-card .book-cover {
  width: 25%;
  text-align: center;
}
.book-section .book-card .book-cover img {
  width: 100%;
  padding: 25px;
  border: 1px solid #d7d8e1;
}
.book-section .book-card .book-cover .availability i {
  margin-right: 5px;
}
.book-section .book-card .book-cover .availability .fa-times-circle {
  display: none;
}
.book-section .book-card .book-cover .available {
  color: var(--green);
}
.book-section .book-card .book-cover .not-available {
  color: red;
}
.book-section .book-card .book-cover .not-available .fa-times-circle {
  display: inline;
}
.book-section .book-card .book-cover .not-available .fa-check-circle {
  display: none;
}
.book-section .book-card .book-cover .btn {
  padding: 7px 20px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 3px;
}
.book-section .book-card .book-cover .cancel-request {
  background-color: #c82333;
}
.book-section .book-card .book-cover .cancel-request:hover {
  background-color: #b2202f;
}
.book-section .book-card .book-cover .already-borrowed {
  background-color: #ebebeb;
  color: #737373;
  cursor: default;
}
.book-section .book-card .book-details {
  width: 75%;
}
.book-section .book-card .book-details .author span {
  color: var(--green);
}
.book-section .book-card .book-details .hr {
  height: 1px;
  background-color: #d7d8e1;
  margin: 10px 0;
}
.book-section .book-card .book-details .description {
  text-align: justify;
}
.book-section .book-card .book-details .details-group {
  display: flex;
  justify-content: space-between;
}
.book-section .book-card .book-details .details-group p {
  text-align: center;
}
.book-section .book-card .book-details .details-group p span {
  font-weight: bold;
}

.related-books {
  padding: 20px 10%;
  color: var(--black);
}
.related-books h3 {
  font-size: 25px;
}
.related-books .book {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.related-books .book a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.related-books .book a img {
  width: 210px;
  height: 270px;
  border-radius: 2px;
}
.related-books .book a p {
  position: absolute;
  z-index: -10;
  font-size: 16px;
  background-color: var(--green);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
.related-books .book a p:hover {
  background-color: var(--dark-color);
}
.related-books .book a:hover img {
  opacity: 0.5;
}
.related-books .book a:hover p {
  z-index: 10;
}
.related-books .book .book-info {
  text-align: center;
}
.related-books .book .book-info .book-name {
  font-size: 16px;
  color: #3b3b3b;
  margin-top: 5px;
}
.related-books .book .book-info .author {
  font-size: 16px;
}
.related-books .book .book-info .status {
  font-size: 14px;
}
.related-books .book .book-info .available {
  color: green;
}
.related-books .book .book-info .not-available {
  color: red;
}
.related-books .book .cancel-request {
  background-color: #c82333;
}
.related-books .book .cancel-request:hover {
  background-color: #b2202f;
}
.related-books .book .already-borrowed {
  background-color: #ebebeb;
  color: #737373;
  cursor: default;
}
.related-books .swiper .swiper-button-next, .related-books .swiper .swiper-button-prev {
  background-color: #fff;
  border-radius: 2px;
  padding: 22px;
}
.related-books .swiper .swiper-button-next::after, .related-books .swiper .swiper-button-prev::after {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  color: var(--black);
}
.related-books .swiper .swiper-button-next:hover::after, .related-books .swiper .swiper-button-prev:hover::after {
  color: #000;
}