@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green: #16A34A;
    --dark-color: #159544;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

section{
    padding: 5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}

.header .header-1 {
    background:#fff;
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    display: flex;
    align-items: center;
}

.header .header-1 .logo img {
    height: 50px;
}

.header .header-1 .search-form {
    width: 50rem;
    height: 4.5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    color:var(--black);
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding: 0 1rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color:var(--green);
}

header .header-1 .user-profile {
    display: flex;
    align-items: center;
    position: relative;       
}

header .header-1 .user-profile .user-info {
    display: flex;
    align-items: center;
    position: relative;
    gap: 7px;
    font-size: 16px;
    cursor: pointer;
}

header .header-1 .user-profile #dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #FFFFFF;
    color: var(--black);
    width: 280px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    z-index: 10;
    display: none;
}
  
header .header-1 .user-profile #dropdown-menu .link {
    padding: 7px 5px;
}

header .header-1 .user-profile #dropdown-menu .link a {
    color: var(--black);
    cursor: pointer;
}

header .header-1 .user-profile #dropdown-menu .link a i {
    margin-right: 10px;
}
  
header .header-1 .user-profile #dropdown-menu .link a:hover {
    color: var(--green);
}

header .header-1 .user-profile #dropdown-menu .link a:hover i {
    color: var(--green);
    margin-right: 15px;
}

header .header-1 .user-profile #dropdown-menu .logout-button {
    border-top: 1px solid rgba(210, 217, 231, 0.8);
    padding: 5px 0;
    display: flex;
    justify-content: center;
}
  
header .header-1 .user-profile #dropdown-menu .logout-button i {
    margin-left: 3px;
}
  
header .header-1 .user-profile #dropdown-menu.show-dropdown-menu {
    display: block;
}

.header .header-2{
    background:var(--green);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}

.header .header-2 .navbar a.nav-active{
    background-color: var(--dark-color);
}

.bottom-navbar{
    text-align: center;
    background:var(--green);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    color:#fff;
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}

.footer .credit{
    padding: 30px 1rem;
    padding-top: 2.5rem;
    font-size: 1.6rem;
    color: var(--black);
    text-align: center;
}

.footer .credit span{
    color:var(--green);
}

.loader-container{
    position: fixed;
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height:10rem;
}




/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }

    .bottom-navbar{
        display: block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form {
        width: 50%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .header .header-1 .search-form {
        width: 40%;
    }
}