.user-section-right .personal-info, .user-section-right .change-password {
  margin: 20px 0;
}
.user-section-right form > div {
  margin-bottom: 20px;
}
.user-section-right form label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
}
.user-section-right form input {
  width: 60%;
  padding: 10px;
  font-size: 14px;
  outline: none;
  border: 1px solid #d7d8e1;
  border-radius: 5px;
}
.user-section-right form div img {
  height: 200px;
}
.user-section-right form .error-msg {
  color: red;
}
.user-section-right form .success-msg {
  color: green;
}
.user-section-right form .submit-btn {
  background-color: #16A34A;
  color: #fff;
  padding: 12px;
  width: 20%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.user-section-right form .submit-btn:hover {
  background-color: #159544;
}