:root {
  --green: #16A34A;
  --dark-color: #159544;
  --black:#444;
  --light-color:#666;
  --border:.1rem solid rgba(0,0,0,.1);
  --border-hover:.1rem solid var(--black);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.user-section {
  background-color: #eeeefb;
  display: flex;
  padding: 20px 10%;
  color: var(--black);
  font-size: 16px;
  min-height: 85vh;
}
.user-section .user-section-left {
  width: 25%;
}
.user-section .user-section-left .profile-summary {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-section .user-section-left .profile-summary img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.user-section .user-section-left .sidenav {
  background-color: #fff;
  margin: 20px 0;
  border-radius: 3px;
  padding: 10px 20px;
}
.user-section .user-section-left .sidenav .link {
  padding: 10px 5px;
}
.user-section .user-section-left .sidenav .link a {
  color: var(--black);
  cursor: pointer;
}
.user-section .user-section-left .sidenav .link a i {
  margin-right: 10px;
}
.user-section .user-section-left .sidenav .link a:hover {
  color: var(--green);
}
.user-section .user-section-left .sidenav .link a:hover i {
  color: var(--green);
  margin-right: 15px;
}
.user-section .user-section-left .sidenav .link.nav-active a {
  color: var(--green);
}
.user-section .user-section-left .sidenav .link.nav-active a i {
  color: var(--green);
  margin-right: 15px;
}
.user-section .user-section-right {
  background-color: #fff;
  width: 75%;
  margin-left: 30px;
  border-radius: 3px;
  padding: 30px;
}
.user-section .user-section-right .page-heading {
  font-size: 25px;
  font-weight: 400;
  border-bottom: 1px solid #d7d8e1;
}
.user-section .user-section-right > div {
  margin: 20px 0;
}
.user-section .user-section-right form > div {
  margin-bottom: 20px;
}
.user-section .user-section-right form label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
}
.user-section .user-section-right form input {
  width: 60%;
  padding: 10px;
  font-size: 14px;
  outline: none;
  border: 1px solid #d7d8e1;
  border-radius: 5px;
}
.user-section .user-section-right form div img {
  height: 200px;
}
.user-section .user-section-right form .error-msg {
  color: red;
}
.user-section .user-section-right form .success-msg {
  color: green;
}
.user-section .user-section-right form .submit-btn {
  background-color: #16A34A;
  color: #fff;
  padding: 12px;
  width: 20%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.user-section .user-section-right form .submit-btn:hover {
  background-color: #159544;
}
.user-section .user-section-right .table-container table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
}
.user-section .user-section-right .table-container table th, .user-section .user-section-right .table-container table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.user-section .user-section-right .table-container table thead th {
  font-weight: 600;
}
.user-section .user-section-right .table-container table tbody tr:hover {
  background-color: #f1f1f1;
}
.user-section .user-section-right .table-container table tbody td img {
  width: 80px;
}
.user-section .user-section-right .table-container table tbody td .btn-danger {
  padding: 5px 10px;
  background-color: #c82333;
  font-size: 16px;
  font-weight: 400;
}
.user-section .user-section-right .table-container table tbody td .btn-danger:hover {
  background-color: #b2202f;
}
.user-section .user-section-right .table-container table tbody a:hover img {
  scale: 1.07;
}
.user-section .user-section-right .table-container table tbody .table-content-center {
  display: flex;
  justify-content: center;
}
.user-section .user-section-right .table-container .pagination {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.user-section .user-section-right .table-container .pagination .page-item {
  margin: 0 4px;
}
.user-section .user-section-right .table-container .pagination .page-item .page-link {
  color: var(--green);
  padding: 8px 12px;
  border: 1px solid #dee2e6;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.user-section .user-section-right .table-container .pagination .page-item .page-link:hover {
  background-color: var(--green);
  color: #fff;
}
.user-section .user-section-right .table-container .pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #f8f9fa;
  border-color: #dee2e6;
}
.user-section .user-section-right .table-container .pagination .page-item.active .page-link {
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  color: white;
}
.user-section .user-section-right .table-container .pagination .page-item:first-child .page-link,
.user-section .user-section-right .table-container .pagination .page-item:last-child .page-link {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
}