* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
}

header {
    // background-color: #00452C;
    // background-color: #319B77;
    background-color: #2C8C6B;
    color: #ddddf7;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;

    .site-logo {
        font-size: 20px;
        font-weight: bold;

        &:hover {
            color: #FFFFFF;
        }
    }

    .admin-profile {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 25px;

        .admin-info {
            i {
                margin-right: 10px;
            }
        }

        .logout-button a {
            display: block;
            background-color: #36b48a;
            padding: 6px 12px;
            border-radius: 7px;
            font-weight: bold;

            &:hover {
                color: #ffffff;
            }
        }
    }
}

main {
    background-color: #F7F8FD;
    font-size: 15px;
    flex: 1;
    display: flex;

    aside {
        background-color: #222d32;
        height: 100%;
        width: 230px;
        transition: all 0.5s ease-in-out;

        div {
            display: flex;
            justify-content: end;
            padding: 12px 10px;
            color:#4b646f;
            background-color: #1a2226;
            position: relative;

            span {
                position: absolute;
                left: 15px;
                width: 100px;
                opacity: 1;
                transition: all 0.5s ease-in;
            }

            .expand-tooltip {
                display: none;
            }

            i {
                color: #b8c7ce;

                &.fa-up-right-and-down-left-from-center {
                    display: none;
                }

                &:hover {
                    color: #ffffff;
                    cursor: pointer;
                }
            }
        }

        nav {
            ul {
                li {
                    color: #b8c7ce;

                    a {
                        display: block;
                        padding: 12px 10px 12px 15px;
                        position: relative;

                        i {
                            width: 22px;
                        }

                        span {
                            position: absolute;
                            left: 115px;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            display: block;
                            width: 140px;
                            opacity: 1;
                            transition: all 0.5s ease-in;
                        }
                    }

                    &:hover, &.active-link {
                        background-color: #1e282c;
                        color: #ffffff;
                        
                    }

                    &.active-link {
                        border-left: 3px solid #2C8C6B;
                    }
                }
            }
        }

        &.shrink-sidebar {
            width: 50px;

            div {
                padding: 0;

                span {
                    opacity: 0;
                    z-index: -1;
                }

                .fa-down-left-and-up-right-to-center {
                    display: none;
                }

                .fa-up-right-and-down-left-from-center {
                    display: block;
                    width: 100%;
                    padding: 12px 0;
                    text-align: center;
                }
            }

            nav ul li a {
                span {
                    opacity: 0;
                    z-index: -1;
                    transition: all 0s ease;
                }
                
                &:hover span{
                    left: 130px;
                    background-color: #ffffff;
                    color: #000000;
                    padding: 10px 10px;
                    border-radius: 5px;
                    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
    }

    .main-content {
        background-color: #ecf0f5;
        flex: 1;
        padding: 15px;
        height: calc(100vh - 50px);
        overflow-y: auto;

        .heading {
            font-size: 28px;
            margin-bottom: 10px;
            color: #333333;
        }
    }
}