.form-container {
    width: 650px;
    
    .header {
        h2 {
            font-size: 27px;  
        }
        
        img {
            height: 42px;
        }
    }

    form {
        div {
            text-align: justify;
            line-height: 1.4;
        }
    }

    .additional-links {
        justify-content: end;
    }
}