.form-container form {
  padding: 0px 40px;
  color: #2c3345;
}
.form-container form > div {
  margin-bottom: 15px;
}
.form-container form label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
}
.form-container form label span {
  color: red;
}
.form-container form input, .form-container form select, .form-container form textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  outline: none;
  border: 1px solid #d7d8e1;
  border-radius: 5px;
}
.form-container form input:focus {
  outline: 1px solid #a8a8a8;
}
.form-container form input::-moz-placeholder {
  color: #888;
}
.form-container form input::placeholder, .form-container form select:invalid {
  color: #888;
}
.form-container form .group-inputs {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.form-container form .group-inputs div {
  width: 25%;
}
.form-container form .error-msg {
  color: red;
}
.form-container form .submit-btn-container {
  display: flex;
  justify-content: right;
}
.form-container form .submit-btn-container .submit-btn {
  background-color: #16A34A;
  color: #fff;
  margin-top: 10px;
  padding: 12px;
  width: 15%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.form-container form .submit-btn-container .submit-btn:hover {
  background-color: #159544;
}