.change-password {
    .change-password {
        margin: 20px 0;
    }
    
    form {
        > div {
            margin-bottom: 20px;
        }
    
        label {
            display: block;
            margin-bottom: 5px;
            font-size: 15px;
            font-weight: 500;
        }
    
        input {
            width: 60%;
            padding: 10px;
            font-size: 14px;
            outline: none;
            border: 1px solid #d7d8e1;
            border-radius: 5px;
        }
    
        div {
            img {
                height: 200px;
            }
        }
    
        .error-msg {
            color: red;
        }
    
        .success-msg {
            color: green;
        }
    
        .btn-success {
            padding: 10px;
            width: 12%;
            font-size: 16px;
        }
    }
}