@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F3F3FE;
}

.form-container {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 40px;
        border-bottom: 1px solid #d7d8e1;

        div {
            line-height: 1.5;
            color: #2c3345;

            h2 {
                font-size: 26px;  
            }

            p {
                font-size: 15px;
            }
        }
        
        img {
            height: 52px;
        }
    }

    form {
        padding: 25px 40px 10px 40px;
        color: #2c3345;

        > div {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 15px;
            font-weight: 500;
        }
    
        input, select {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            outline: none;
            border: 1px solid #d7d8e1;
            border-radius: 5px;
        }

        input:focus {
            outline: 1px solid #a8a8a8;
        }

        input::placeholder, select:invalid {
            color: #888;
        }
    
        .group-inputs {
            display: flex;
            justify-content: space-between;

            &.first {
                div:first-child {
                    width: 50%;
                }
    
                div:last-child {
                    width: 45%;
                }
            }

            &.second {
                div:first-child {
                    width: 50%;
                }

                div:last-child {
                    width: 45%;

                    div {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        position: relative;

                        span {
                            position: absolute;
                            left: 10px;
                        }

                        input {
                            padding-left: 55px;
                        }
                    }
                }
            }
            
            &.third {
                div:first-child {
                    width: 47.5%;
                }
    
                div:last-child {
                    width: 47.5%;
                }
            }
        }

        .error-msg {
            color: red;
        }
    
        .submit-btn {
            background-color: #16A34A;
            color: #fff;
            padding: 12px;
            width: 100%;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
    
            &:hover {
                background-color: #159544;
            }
        }
    }

    .additional-links {
        display: flex;
        justify-content: space-between;
        padding: 0px 40px 25px;
        color: #2c3345;

        a {
            font-weight: 500;

            &:hover {
                color: #0000ffd5;
            }
        }
    }
}