.form-container {
    width: 490px;
    
    .header {
        h2 {
            font-size: 30px;  
        }
        
        img {
            height: 42px;
        }
    }

    form {
        label {
            font-size: 16px;
        }
    
        input {
            font-size: 15px;
        }

        .remember-me {
            display: flex;
            align-items: center;
            gap: 10px;
            
            input[type="checkbox"] {
                width: 16px;
                height: 16px;

                &:focus {
                    outline: none;
                }
            }

            label {
                margin: 0;
            }
        }
    }
}