.form-container {
    width: 490px;
    
    .header {
        h2 {
            font-size: 30px;  
        }
        
        img {
            height: 42px;
        }
    }

    form {
        label {
            font-size: 16px;
        }
    
        input {
            font-size: 15px;
        }
    }
}